<div class="columns small-12 medium-12 large-12 topper" id="left-side">
  <h1>Memory Game (<%= @memory_game.user.name %>)</h1>
  <% css_class_id = "#{@memory_game.class.name.underscore}_#{@memory_game.id}_name" -%>
  <div id="<%= css_class_id %>">
    Interne naam: <%= send("text_field_show", @memory_game, :name) %>
  </div>
  <% css_class_id = "#{@memory_game.class.name.underscore}_#{@memory_game.id}_title" -%>
  <div id="<%= css_class_id %>">
    Titel: <%= send("text_field_show", @memory_game, :title) %>
  </div>
  <% css_class_id = "#{@memory_game.class.name.underscore}_#{@memory_game.id}_description" -%>
  <div id="<%= css_class_id %>">
    Beschrijving: <%= send("text_area_show", @memory_game, :description) %>
  </div>
  Add a word:
  <%= form_tag request.path, :method => 'post' do %>
    <div class="row">
      <div class="large-3 small-3 columns">
        <%= autocomplete_field_tag :add_word, '', send("autocomplete_word_name_words_path"), :placeholder => 'buska palabra...', :id => 'input_search' %>
      </div>
      <div class="large-2 small-2 columns">
        <%= submit_tag :add_word, :class => "button expand inline_forms_model_top_bar_buttons" %>
      </div>
    </div>
  <% end %>
  <div id="memory_game_list">
    <%= form_tag request.path, :method => 'post' do %>
      <ul>
        <% @memory_game.words.each do |word| %>
          <li>
            <%= check_box_tag 'remove_words[]', word.name %>
            <%= link_to_word word %>
            <%= image_tag word.pictures.first.image.thumb.url if word.has_pictures? %>
          </li>
        <% end %>
      </ul>
      <%= submit_tag :remove_word, :class => "button expand inline_forms_model_top_bar_buttons" %>
    <% end %>

  </div>
</div>
