<ul>
  <li>
    <%= link_to 'korsou habri', 'http://opencuracao.com' %>
  </li>
  <li>
    <%= link_to 'fpi', 'http://www.fpi.cw' %>
  </li>
  <li>
    <%= link_to 'spellchecker', 'https://addons.mozilla.org/en-us/firefox/addon/dikshonario-papiamentu/' %>
  </li>
  <li>
    <%= link_to 'bla', 'http://' %>
  </li>
  <li>
    <%= link_to 'bla', 'http://' %>
  </li>
  <li>
    <%= link_to 'bla', 'http://' %>
  </li>
</ul>
