<%= render 'shared/state' %>
<div class="columns small-12 medium-8 large-8 topper" id="left-side">
  <h2>Palabra di dia: <%= link_to_word Word.buki_di_oro.random %></h2>
  <h3>Buska un palabra</h3>
  <p>
    <%= render 'search_form' %>
  </p>
  <!-- <h2>chèk un teksto pa missing palabra</h2>
  <p>
    maksimo 1 mega bait
    <%= render 'search_form_text' %>
  </p> -->
</div>
<%= render 'shared/frontend_sidebar' %>
