<div id="left-side" class="columns small-12 medium-6 large-3 topper bordered">
  <%= render "first_picture" %>
  <% if @word.recordings.first %>
    <%= send("audio_field_show", @word.recordings.first, :audio) -%>
  <% end %>
</div>
<div class="columns small-12 medium-6 large-5 topper  bordered">
  <h2>
    <%= @word.name %>
    <% if @word.approved? %>
      <%= image_tag 'yes.png', size: '32x32' %>
    <% else %>
      <%= image_tag 'no.png',  size: '32x32'  %>
    <% end %>
  </h2>
  <% wiki = Wikipedia.find(@word.name) %>
  <% if wiki.main_image_url || wiki.summary %>
    <div class="wikipedia">
      <%= image_tag wiki.main_image_url unless wiki.main_image_url.nil? %>
      <%= wiki.summary %>
      (pap.wikipedia.org)
    </div>
  <% end %>
  <% if @word.is_money? %>
    <div class="money">
        Sèn. Ta bale: <%= @word.monetary_value_nice %>
    </div>
  <% end %>

  <div class='xxxxxx'>
    <%# <%= content_tag :p, @word.variants_nice if @word.varies? %>
    <%= content_tag(:p, @word.description_pap_cw_nice) unless @word.description_pap_cw.blank? %>
    <%= content_tag(:p, @word.synonym) unless @word.synonym.blank? %>
    <%= content_tag(:p, "deskripshon hulandes: #{@word.description_nl}") unless @word.description_nl.blank? %>
    <%= content_tag(:p, "hulandes: #{@word.tr_nl}") unless @word.tr_nl.blank? %>
    <%= content_tag(:p, "inglès: #{@word.tr_en}") unless @word.tr_en.blank? %>
    <%= content_tag(:p, "spañjo: #{@word.tr_es}") unless @word.tr_es.blank? %>
    <%= content_tag(:p, "E palabra aki ta parti di e siguiente glosarionan: #{@word.glossaries.map { |g| link_to_glossary g }.join(' ') }".html_safe ) unless @word.glossaries.empty? %>
  </div>
  <div class="yandex">
    Tradukshon di Yandex
    <ul>
      <% @word.get_yandex_translations %>
      <% YANDEX_LANGUAGES.each do |language| %>
        <li>
          <%= "#{language}: #{@word.yandex_translation_cache[language]}" %>
        </li>
      <% end %>
  </div>
</div>

<div class="columns small-12 medium-6 large-4 topper bordered" id="right-side">
  <h3>informashon</h3>
  <ul>
    <li>
      <div class='yes_no'>
        aprobá
          <% if @word.approved? %>
            <%= image_tag 'yes.png' %>
          <% else %>
            <%= image_tag 'no.png'  %>
          <% end %>
      </div>
    </li>
    <li>
      <div class='yes_no'>
        standarisá
          <% if @word.standarized? %>
            <%= image_tag 'yes.png' %>
            <%= time_ago_in_words(@word.attested_on) %> ago
          <% else %>
            <%= image_tag 'no.png' %>
          <% end %>
      </div>
    </li>
    <li>
      <div class='yes_no'>
        views: <%= @word.views %>
      </div>
    </li>
  </ul>
  <h3>Dutch Caribbean Platform (DCDP)</h3>
  <ul>
    <li>
      Pa mira e palabra aki usá den konteksto den e biblioteka digital (por ehèmpel den buki i artíkulo), klek riba e siguiente konekshon:
      <%= link_to "#{@word.name}", "http://dcdp.uoc.cw/results/?text=#{@word.name}", target: :_blank %>
    </li>
  </ul>
  <h3>Tradukshon Majstro</h3>
  <ul>
    <li>
      <%= link_to 'tradukshon Majstro', "https://www.majstro.com/Web/Majstro/bdict.php?gebrTaal=dut&bronTaal=pap&doelTaal=dut&teVertalen=#{@word.name}", target: :_blank %>
    </li>
  </ul>
  <h3>anterior/siguiente/buska</h3>
    <ul>
      <li>
        anterior: <%= link_to_word(@word.previous_words.first) %>
      </li>
      <li>
        siguiente: <%= link_to_word(@word.next_words.first) %>
      </li>
      <li>
        <%= render "search_form" %>
      </li>
    </ul>

  <% unless @word.approved? %>
    <h3>Vota</h3>
    agregá pa: <%= @word.user.name %> (<%= time_ago_in_words(@word.created_at) %> pasá)
    pro: <%= @word.votes_for %><br />
    kontra: <%= @word.votes_against %>
  <% end %>

  <h3>lingwístiko</h3>
  <ul>
    <li>
      tipo di palabra: <%= @word.wordtypes.map(&:name).to_sentence %>
    </li>
    <li>
      <div class='yes_no'>
        kontabel
          <% if @word.countable? %>
            <%= image_tag 'yes.png' %>
          <% else %>
            <%= image_tag 'no.png'  %>
          <% end %>
      </div>
    </li>
    <li>
      <div class='yes_no'>
        spesífiko
          <% if @word.specific? %>
            <%= image_tag 'yes.png' %>
          <% else %>
            <%= image_tag 'no.png'  %>
          <% end %>
      </div>
    </li>
  </ul>

  <h3>palabra mas resien</h3>
  <ul>
    <% Word.recently_updated.each do |word| %>
      <li>
        <%= link_to word.word_max_length(20), "/palabra/#{word.name}", :title => word.name  %>
      </li>
    <% end %>
  </ul>

  <h3>palabra mas mirá</h3>
  <ul>
    <% Word.most_viewed.each do |word| %>
      <li>
        <%= link_to word.word_max_length(20), "/palabra/#{word.name}", :title => word.name  %>
      </li>
    <% end %>
  </ul>
</div>
