<div class="columns small-12 medium-4 large-4 topper" id="right-side">
  <h3><%= current_user.name %></h3>
  <div id='user'>
    <%= render 'user' %>
  </div>
  <h3>Lenk importante</h3>
  <div id='lenk_importante'>
    <%= render 'lenk' %>
  </div>
  <h3>Glosario</h3>
  <div id='glosario'>
    <%= render 'glosario' %>
  </div>
  <h3>Palabra mas resien</h3>
  <div id='palabra_mas_resien'>
    <%= render 'palabra_mas_resien' %>
  </div>
  <h3>Palabra mas mirá</h3>
  <div id='palabra_mas_mira'>
    <%= render 'palabra_mas_mira' %>
  </div>
</div>
