<% translation_scope = "views.shared.frontend.sidebar" %>

  <h3><%= current_user.nil? ? 'Bon Biní' : current_user.name %></h3>
  <% unless current_user.nil? %>
    <div id='user'>
      <%= render 'user' %>
    </div>
  <% end %>
  <h3><%= t :important_links, scope: translation_scope %></h3>
  <div id='lenk_importante'>
    <%= render 'lenk' %>
  </div>
  <h3><%= t :galeries, scope: translation_scope %></h3>
  <div id='galeria'>
    <%= link_to 'Galeria di founa', '/founa' %><br />
    <%= link_to 'Galeria di flora', '/flora' %>
  </div>
  <!-- <h3><%= t :glossaries, scope: translation_scope %></h3>
  <div id='glosario'>
    <%# <%= render 'glossaries' %> %>
  </div> -->
  <h3><%= t :memory_games, scope: translation_scope %></h3>
  <div id='memory_games'>
    <%= render 'memory_games' %>
  </div>
  <h3><%= t :recent_words, scope: translation_scope %></h3>
  <div id='palabra_mas_resien'>
    <%= render 'palabra_mas_resien' %>
  </div>
  <h3><%= t :most_viewed_words, scope: translation_scope %></h3>
  <div id='palabra_mas_mira'>
    <%= render 'palabra_mas_mira' %>
  </div>
  <% if 1 == 1 %>
    <h3><%= t :sources, scope: translation_scope %></h3>
    <div id='fuente'>
      <%= render 'sources' %>
    </div>
  <% end %>
  <% if 1 == 1 %>
    <h3><%= t :goals, scope: translation_scope %></h3>
    <div id='fuente'>
      <%= render 'goals' %>
    </div>
  <% end %>
