<% translation_scope = "views.shared.frontend.sidebar" %>

<div class="columns small-12 medium-4 large-4 topper" id="right-side">
  <h3><%= current_user.name %></h3>
  <div id='user'>
    <%= render 'user' %>
  </div>
  <h3><%= t :important_links, scope: translation_scope %></h3>
  <div id='lenk_importante'>
    <%= render 'lenk' %>
  </div>
  <h3><%= t :glossaries, scope: translation_scope %></h3>
  <div id='glosario'>
    <%= render 'glosario' %>
  </div>
  <h3><%= t :recent_words, scope: translation_scope %></h3>
  <div id='palabra_mas_resien'>
    <%= render 'palabra_mas_resien' %>
  </div>
  <h3><%= t :most_viewed_words, scope: translation_scope %></h3>
  <div id='palabra_mas_mira'>
    <%= render 'palabra_mas_mira' %>
  </div>
</div>
