<div id="devise">
  <% @logo_right = 'papiamentu-welkom.png' %>
  <%= render "/frontends/papiamentu_header" %>
  <% if params[:state] == "after_sign_up" %>
    <div class="row" id="sign_in">
      <div class="column small-12 large-12 topper">
        <h2>Ga naar uw email om toegang te krijgen tot papiamentu...</h2>
        <p>
          <br />
          Er is een email gestuurd naar uw email adres, met als onderwerp:
          <br /><br />
          &nbsp;&nbsp;<strong><em>Toegang tot papiamentu</em></strong>
          <br/><br />
          In deze email staat een link. Als u op de link in de email klikt, krijgt u toegang tot papiamentu.
          <br /><br />
          <h2>U dient dus naar uw email te gaan om verder te kunnen!</h2>
        </p>
      </div>
    </div>
    <% else %>
    <% @default_message = 'login_with_email_and_password' -%>
    <div class="row" id="sign_in">
      <div class="column small-12 large-6 topper">
        <h2>Bon biní na Papiamentu.Info</h2>
        <p>
          Papiamentu.Info ta un proyekto di Fundashon Kòrsou Habrí.
        </p>
        <h3>Ingresá via di un medio sosial...</h3>
        <div id='omniauth_options'>
          <%= link_to image_tag("fb_logo.png", size: '72x72'), user_facebook_omniauth_authorize_path %>
          <%#= link_to image_tag("github_logo.jpg", size: '72x72'), user_omniauth_authorize_path(:github) %>

        </div>
        <h3>...òf yena bo adrès elektróniko i bo kódigo di seguridat!</h3>
        <div id="flash_message">
          <h2><%= devise_error_messages! %></h2>
        </div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <br /> Adrès elektróniko <%= f.email_field :email %><br />
          Kódigo di seguridat <%= f.password_field :password %><br />
          <p class="text-right"><%= f.submit 'Ingresá', class: :button %></p>
        <% end %>
      </div>
      <div class="column small-12 large-6 topper" id="sign_in_form">
        <h3>Bo a lubidá bo kódigo di seguridat?</h3>
        <p>
          <strong><%= link_to "Apliká pa un kódigo di seguridat nobo.", new_user_password_path %></strong>
        </p>
        <h3>Apliká pa kódigo di akseso</h3>
        <p>
          Bo no tin kódigo di akseso? Apliká aki!
          <strong><%= link_to "Apliká pa bo kódigo", new_user_registration_path %></strong>,
          òf ingresá via ‘Facebook’.
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= render "/frontends/papiamentu_footer" %>
