<div id="devise">
  <% @logo_right = 'papiamentu-welkom.png' %>
  <%= render "/frontends/papiamentu_header" %>
  <%= render "flash" %>
  <div class="row" id="sign_in">
    <% if params[:state] == "after_sign_up" %>
        <%= render "after_sign_up" %>
      <% else %>
        <%= render "before_sign_up" %>
    <% end %>
  </div>
</div>
<%= render "/frontends/papiamentu_footer" %>
