<div class="columns small-12 medium-12 large-12 topper" id="left-side">
  <h2><%= @goal.name %></h2>
  <div id="goal">
  <% @goal.words.order("name ASC").group_by{|u| u.name[0]}.each do |letter, items| %>
    <h3><%= letter %></h3>
    <table>
      <% items.each do |item| %>
        <tr>
          <td>
            <%= link_to_word_with_admin item %>
          </td>
          <td>
            <%= item.wordtypes.map(&:name).to_sentence %>
          </td>
          <td>
            <%= item.tr_nl %>&nbsp;
          </td>
          <td>
            <%= item.description_pap_cw %>&nbsp;
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  </div>
</div>
