<div class="columns small-12 medium-6 large-4  bordered text-center">
  <h2>Bo a gana</h2>
  <p><span class="points-number"><%= @points %></span> punto</p>
</div>
<div class="columns small-12 medium-6 large-4  bordered">
  <h2>Lista di palabra</h2>
  <table>
    <thead>
      <tr>
        <th>Palabra</th>
        <th>kon ba skirbié </th>
        <th>korekto?</th>
        <th>punto</th>
      </tr>
    </thead>
    <tbody>
      <% @SpellingSession.spelling_tries.each do |try| %>
        <tr>
          <td><%= try.word.name %></td>
          <td><%= try.user_input %></td>
          <td><%= raw try.correct ? '<i class="fi-check"></i>' : '<i class="fi-x"></i>' %></td>
          <td><%= try.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="columns small-12 medium-6 large-4 bordered text-center">
  <%= link_to "Hunga atrobe", spelling_play_path, class: [:button, :rounded] %>
  <%= link_to "Bai página prinsipal", spelling_path, class: [:button, :rounded] %>
</div>
